/* App.css

.App {
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.App-header {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} */